- unless @books_searched.empty?
  = form_tag do
    - @books_searched.each do |book|
      %p
        = check_box_tag "books[#{book.id}]"
        = full_title_of book
- else
  %p Your search generated 0 results

:javascript
  removeDuplicate();
