.patron_search_box
  = form_tag checkout_path, :method => :get, :remote => true do
    = label_tag :search_patron
    = text_field_tag :search_patron, params[:search_patron], :placeholder => 'First name or last name.'

.patron_search_results
